---
- name: Install Node Exporter
  hosts: all
  become: yes
  tasks:
    - name: Download Node Exporter
      get_url:
        url: https://github.com/prometheus/node_exporter/releases/download/v1.6.1/node_exporter-1.6.1.linux-amd64.tar.gz
        dest: /tmp/node_exporter.tar.gz

    - name: Extract
      unarchive:
        src: /tmp/node_exporter.tar.gz
        dest: /tmp
        remote_src: yes

    - name: Copy binary
      copy:
        src: /tmp/node_exporter-1.6.1.linux-amd64/node_exporter
        dest: /usr/local/bin/node_exporter
        mode: '0755'
        remote_src: yes

    - name: Create service
      copy:
        content: |
          [Unit]
          Description=Node Exporter
          [Service]
          ExecStart=/usr/local/bin/node_exporter
          [Install]
          WantedBy=multi-user.target
        dest: /etc/systemd/system/node_exporter.service

    - name: Start service
      systemd:
        name: node_exporter
        state: started
        enabled: yes
        daemon_reload: yes

- name: Install Jenkins
  hosts: jenkins
  become: yes
  tasks:
    - name: Install Java
      apt:
        name: openjdk-17-jdk
        state: present
        update_cache: yes

    - name: Add Jenkins key
      apt_key:
        url: https://pkg.jenkins.io/debian-stable/jenkins.io-2023.key

    - name: Add Jenkins repo
      apt_repository:
        repo: 'deb https://pkg.jenkins.io/debian-stable binary/'

    - name: Install Jenkins
      apt:
        name: jenkins
        state: present
        update_cache: yes

    - name: Start Jenkins
      systemd:
        name: jenkins
        state: started
        enabled: yes

    - name: Wait for Jenkins
      wait_for:
        port: 8080
        delay: 10

    - name: Get password
      command: cat /var/lib/jenkins/secrets/initialAdminPassword
      register: pwd
      changed_when: false

    - name: Show password
      debug:
        msg: "Password: {{ pwd.stdout }}"
